
.jumbotron {
  text-align: left;
  margin: 0;
  background: url(images/mountainsunset.jpg);
  background-size:cover;
  color:#fff;
  min-height: 400px;
}

.banner{
  display: flex;
  flex-basis:80%;
  flex-wrap: wrap;
  justify-content: center;
}

.banner h1{
  display: flex;
  flex-basis:100%;
  justify-content: center;
}

.about-container{
  background-color: #e5ceb0;
  min-height: 700px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-content: center;
}

#about-me{
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  margin-left: 15px;
}


#profile-pic{
  max-width: 100%;
  height: auto;
  display: flex;
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 1;
  opacity:0.95;
  border: 5px solid black;
}

.projects-container{
  display:flex;
  justify-content: space-around;
}

.project{
  display: inline-block;
  flex-basis:30%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.carousel{
  width:100%;
  height:auto;
}

.footer{
  border-top: 1px solid lightgray;
  height: 3em;
  align-items: center;
  padding-left: 2em;
}

.icons{
  color:blue;
  font-size: 3em;
}

@media(max-width: 768px){

  #about-me{
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    align-items: center;
    flex-shrink:1;
    flex-grow: 1;
    margin: 15px;
  }

  .projects-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .project{
    display: inline-block;
    flex-basis:90%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

}

@media(max-width: 1024px){
  /* .about-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
  } */

  #about-me{
    display: flex;
    flex-basis: 40%;
    flex-shrink:1;
    flex-grow: 1;
    margin-left: 15px;
  }

  #profile-pic{
    max-height: 600px;
    width:auto;
  }
}
