/* .projects{
  margin:0 auto;
} */

.jumbotron {
  min-height:40em;
  text-align: center;
  margin: 0;
}

.about-container{
  background-color: #e5ceb0;
  height: 50em;
}

#about-me{
  float: right;
  width: 30em;
  margin-top: 10em;
}

#profile-pic{
  height:30em;
  width:auto;
  opacity:0.95;
  border: 5px solid black;
  position: absolute;
  margin: 10em 0 0 10em;
}

.project{
  display: inline-block;
  margin:20px;
}
